@using MongoDAL.Models
@model TournamentModel

@{
    ViewBag.Title = "Tournament Details";
}

@if (Model != null)
{
        <div class="ModelContainer">
            <div>
                <div class="ContainerNameBlock">
                    <a href="~/Home/Detail?tournamentId=@Model.TournamentId">
                        <h3>Tournament Name: @Model.Name</h3>
                    </a>
                    <p>Tournament Game: @Model.Game</p>
                </div>
                <div class="ContainerPlayerListBlock">
                    <p>Players Involved: @Model.PlayerList.UserList.Count()</p>
                </div>
            </div>
        </div>
}


