@using MongoDAL.Models
@model TournamentListModel

@{
    //ViewBag.Title = "Active";
}
<h1>
    Active Tournaments:
</h1>

@if (Model != null)
{
    foreach(TournamentModel item in Model.TournamentList)
    {
        Html.RenderPartial("_TournamentViewPartial", item);
    }
}
