@model TournamentTrackerServices.Model.TournamentListModel

@{
    //ViewBag.Title = "Active";
}

@if (Model != null)
{
    <h1>
        Active Tournaments:
    </h1>
    Html.RenderPartial("_TournamentViewPartial", Model);
}
