
@{
//ViewBag.Title = "Home Page";
}

<div class="Opening">
    <h1>
        Welcome to the tournament tracker website!
    </h1>
    <p>
        This site is meant to help you make and managed tournaments for any game you want.
    </p>
</div>