@using MongoDAL.Models
@model TournamentListModel

@{
    //ViewBag.Title = "Previous";
}
<h1>
    Previous Tournaments:
</h1>

@if (Model != null)
{
    foreach (TournamentModel item in Model.TournamentList)
    {
        Html.RenderPartial("_TournamentViewPartial", item);
    }
}