@model TournamentTrackerServices.Model.TournamentListModel

@{
    //ViewBag.Title = "Previous";
}

@if (Model != null)
{
    <h1>
        Previous Tournaments:
    </h1>
    Html.RenderPartial("_TournamentViewPartial", Model);
}